@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Montserrat";
}

@layer base {
  :root {

    /* Sports Var Start */

    --custom-primary: 255, 225, 230;
    --custom-secondary: 255, 48, 79;
    --custom-tertiary: 7, 15, 43;
    --custom-grey: 102, 102, 102;
    --custom-white: 255, 255, 255;
    --custom-blue: 27, 70, 223;
    --custom-light-blue: 168, 187, 255;
    --custom-green: 0, 223, 162;
    --custom-orange: 237, 113, 60;
    --custom-light-green: 0, 169, 123;
    --custom-w-blue: 244, 247, 255;
    --custom-red: 255, 48, 79;
    --custom-placeholder: 197, 201, 213;
    /* Sports Var End */




    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.bg-wrap {
  background-image: url('assets/images/dashboard-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sign-bg-wrap {
  background-image: url('assets/images/sign-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.side--border {
  border: none;
}

.side--bar {
  display: none;
}

.bg-panel {
  background: url('assets/images/dashboard-bg.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

/* form fields */

.custom-form-section label {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  @apply text-tertiary-bg;
}

.custom-form-section input,
.custom-form-section select {
  height: 60px;
  border-radius: 20px;
  @apply bg-earth-bg;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  @apply text-tertiary-bg;
  padding: 10px 12px;
  border: none;
}

.custom-form-section input:focus {
  outline: none !important;
  border: none !important;
  box-shadow: unset !important;
}

.custom-form-section input::placeholder {
  @apply text-palceholder-bg;


}

/* .select-field button:focus {
  border: none !important;
  outline: none !important;
} */

.select-field select:focus {
  border: none !important;
  outline: none !important;

}

.select-field button {
  height: 60px;
  border-radius: 20px;
  @apply bg-earth-bg;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  @apply text-tertiary-bg;
  padding: 10px 12px;
  border: none;
}

.select-field button::placeholder {
  @apply text-palceholder-bg;


}

.select-field option {
  @apply bg-mars-bg !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  @apply text-tertiary-bg;
}

.cs-dialog-box {
  height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cs-dialog-box::-webkit-scrollbar {
  width: 18px;
  border-radius: 20px;
  @apply bg-earth-bg;
}

.cs-dialog-box::-webkit-scrollbar-track {

  border-radius: 20px;
}

.cs-dialog-box::-webkit-scrollbar-thumb {
  width: 24px;
  @apply bg-mars-bg;
  border: 5px solid #CCEEF4;
  border-radius: 15px;
}

.cs-radio-wrap button[aria-checked="false"] {
  @apply border-lunar-bg !important;
  border: 2px solid;

}

.cs-radio-wrap button[aria-checked="true"] {
  @apply border-lunar-bg !important;
  border: 2px solid;

  @apply bg-earth-bg !important;
}

.cs-radio-wrap button[aria-checked="true"] svg {
  fill: rgb(114, 149, 246) !important;
  stroke: none;
  width: 10px;
  height: 10px;
  /* width: 100%; */
  /* height: 100%; */
  /* border-radius: 0; */
  /* stroke-linecap: square;
  stroke-linejoin: unset;
  background: #ffff00; */
}

.custom--checkbox button[aria-checked="false"] {
  border: 2px solid #1b46df;
  border-radius: 3px;
  width: 20px;
  height: 20px;
}

.custom--checkbox button[aria-checked="true"] {
  border: 2px solid rgb(27, 70, 223);
  border-radius: 3px;
  width: 20px;
  height: 20px;
  @apply bg-lunar-bg !important;
}